#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
  
  #nav-img {
    width: 50px;
  }
  #about-link {
    text-decoration: none;
    color: var(--primary);
  }
  #nav-search-bar {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  #nav-list {
    display: flex;
    gap: 90px;
  }
  ul {
    list-style: none;
    color: var(--primary);
    font-weight: bolder;
  }
  .nav-list {
    padding: 10px 10px;
  }